<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BilAl - Bilet Görüntüle</title>
    <link rel ="website icon" type="png"
    href="static/BilAl.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='goruntule.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='BilAl.png') }}" alt="BilAl Logo" class="logo">
        
        <h1>Bilet Bilgilerini Görüntüle</h1>
        <form action="{{ url_for('goruntule') }}" method="POST">
            <label for="ticket_number">Bilet Numarası:</label>
            <input type="text" name="ticket_number" required>
            <button type="submit">Sorgula</button>
        </form>

        {% if ticket_info %}
            <h2>Bilet Bilgileri</h2>
            <p>Film: {{ ticket_info.film }}</p>
            <p>Sinema: {{ ticket_info.cinema }}</p>
            <p>Koltuğunuz: {{ ticket_info.seat }}</p>
            <p>Saat: {{ ticket_info.time }}</p>
            <p>Bilet Numarası: {{ ticket_info.ticket_number }}</p>
        {% elif error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
