<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BilAl - Hakkımızda</title>
    <link rel ="website icon" type="png"
    href="static/BilAl.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='hakkimizda.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='BilAl.png') }}" alt="BilAl Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('ticket') }}" class="{{ 'active' if request.endpoint == 'ticket' else '' }}">Bilet Al</a></li>
                <li><a href="{{ url_for('hakkimizda') }}" class="{{ 'active' if request.endpoint == 'hakkimizda' else '' }}">Hakkımızda</a></li>
                <li><a href="{{ url_for('goruntule') }}" class="view-ticket-btn">Bilet Görüntüle</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Hakkımızda</h1>
        <p>BilAl, sinema biletlerinizi kolayca alabileceğiniz bir platformdur. En sevdiğiniz filmleri seçerek, biletlerinizi hızlıca alabilir, kolayca rezerve edebilirsiniz.</p>
        <p>Bizim amacımız, sinema izleme deneyiminizi daha pratik ve keyifli hale getirmektir. Kullanıcı dostu arayüzümüz ile film seçmek ve bilet almak hiç bu kadar kolay olmamıştı.</p>
        <p>Film koleksiyonumuz sürekli olarak güncellenmektedir, böylece her zaman en yeni ve en popüler filmleri sunabiliyoruz. Bizimle sinema keyfini çıkarın!</p>
    </div>
</body>
</html>
