<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BilAl - Kayıt</title>
    <link rel ="website icon" type="png"
    href="static/BilAl.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='BilAl.png') }}" alt="BilAl Logo">
    </header>
    <div class="container">
        <h1>Kayıt Ol</h1>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Kullanıcı Adı" required>
            <input type="email" name="email" placeholder="E-posta" required>
            <input type="password" name="password" placeholder="Şifre" required>
            <button type="submit">Kayıt Ol</button>
        </form>
        <p>Zaten hesabınız var mı? <a href="/login">Giriş Yap</a></p>
    </div>
</body>
</html>
